<div id="<%= dom_id post %>">
  <p>
    <strong>Post:</strong>
    <%= post.content %>
    <small> | by <%= post.user.name %></small>
  </p>

  <p>
    <strong>Comments:</strong>
    <div id="comments">
      <% post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>
  </p>

  
  <% if !current_page?(user_url) %>
    <%= render partial: 'comments/form', locals: { post: @post } %>
  <% else %>
    <%= link_to "View Post", post %>
  <% end %>
</div>
<hr />